@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --purple-main: #631ae6;
    --purple-dark: #2b0066;
    --purple-light: #f3edff;
    --bg-light: #f9f9fb;
    --text-dark: #1e1e24;
    --text-muted: #606066;
    --white: #ffffff;
    --font-main: 'Arial', sans-serif;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--text-dark);
    background-color: var(--bg-light);
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

main{
  max-width: 1024;
  margin: 0 auto;
}

/*header*/
.main-header {
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
    background: white;
    border-bottom: 1px solid #eaeaea;
    position: sticky;
    top: 0;
    padding: 20px 50px;
    z-index: 100;
}

/* IZQUIERDA */
.nav-left{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 40px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
}

.mobile-menu{
    display: none;
    position: relative;
    
} 

.desktop-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 50px;
    max-width: 1024px
}
.menu-toggle {
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu{
      display: flex;
      align-items: center;
      gap: 50px;
      width: 97px;
      height: 11px;
  }

@media screen and (max-width: 996px) {
    .mobile-menu {
        display: flex;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .desktop-menu {
        display: none;
    }
  }



.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: var(--text-dark);
    border-radius: 2px;
}



.menu a{
    text-decoration: none;
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

/* línea vertical */
.linea{
    width: 1px;
    height: 30px;
    background: #ccc;
}

/* DERECHA */
.nav-right{
  display: flex;
  gap: 8px;
  
}

.btn{
    padding: 15px 35px;
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

/* botón blanco */
.btn-white{
    border: 2px solid #6c2cff;
    color: #6c2cff;
    background: white;
}

/* botón violeta */
.btn-purple{
    background: linear-gradient(to right, #7b2cff, #5a1fd6);
    color: white;
}
/*header*/
/*vuelo*/
.vuelo-section {
    background-color: var(--bg-light);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.35px;
    margin-bottom: 32px;
}

.cards-grid {
    padding: 24px;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 40px;
}

.benefit-card {
    background-color: var(--white);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(92, 12, 77, 0);
    transition: transform 0.3s ease;
}

.benefit-card:hover {
    transform: translateY(-4px);
}

.card-icon {
    width: 62px;
    height: 62px;
    background-color: var(--purple-light);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.benefit-card h3 {
    font-size: 20px;
    color: var(--text-color-primary);
    font-weight: 600;
    letter-spacing: -0.9px;

}

.benefit-card p {
    color: var(--text-muted);
    line-height: 1.6;
    font-size: 18px;
}
/*vuelo*/

/*historias*/
.historias{
    background:#d9c9f7;
    border-radius:35px;
    padding:40px 70px;
}
.card2{
    display:flex;
    justify-content:space-between;
    align-items:center; 
}

.texto h1{
    font-size:42px;
    font-weight:700;
    color:#34107d;
    margin-bottom:15px;
}

.texto p{
    font-size:20px;
    color:#34107d;
}

.boton{
      background: white;
      color: #5b2be0;
      text-decoration: none;
      padding: 18px 45px;
      border-radius: 35px;
      font-size: 18px;
      font-weight: 600;

}
/*historias*/
/*banner*/
.titulo {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  color: #252525;
  text-align: center;
  line-height: 3.1;
  letter-spacing: 0rem;
  margin-bottom: 3rem;
}

.payments {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  background: #fff;
  border-radius: 24px;
  padding: 50px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 280px;
}

.card-content {
  max-width: 420px;
  min-width: 300px;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #1f1f1f;
}

.card-content p {
  font-size: 1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 25px;
}

.card-content a {
  text-decoration: none;
  color: #5b2bc4;
  font-weight: 600;
}

.card-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-imagen img {
  max-width: 620px;
  max-height: 620px;
  padding: 2.1rem 1.8rem;
}

/* Responsive */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 40px 25px;
  }

  .card:nth-child(2) {
    flex-direction: column;
  }

  .card-content {
    max-width: 100%;
  }

  .card-image {
    width: 100%;
  }
}
/*banner*/
/*footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  padding: 50px 60px;
  background: white;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.logo2 {
  width: 40px;
  margin-bottom: 10px;
}

.footer-column h3 {
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.footer-column a {
  text-decoration: none;
  color: #444;
  margin-bottom: 12px;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #000;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
